# Terraform state
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/

# Terraform metadata
.terraform.lock.hcl

# Ansible generated inventory
ansible/inventory.ini

# SSH
*.pem
*.key
.ssh/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/